@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes hamburger-menu-init {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes hamburger-side-show {
    0% {
        right: -200px;
    }
    100% {
        right: 0;
    }
}

@keyframes hamburger-side-hide {
    0% {
        right: 0;
    }
    100% {
        right: -200px;
    }
}

@keyframes hamburger-background-show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hamburger-background-hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    nav {
        display: flex;

        .header-menu {
            .header-menu-sub {
                transition: opacity 0.3s;
            }

            &:hover {
                .header-menu-sub {
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }
    }

    .hamburger-button {
        display: none;
    }

    .hamburger-menu-container {
        pointer-events: none;
        display: none;

        animation-name: hamburger-menu-init;
        animation-duration: 0.5s;

        .hamburger-side {
            right: -200px;
            animation-name: hamburger-side-hide;
            animation-duration: 0.5s;

            .hamburger-menu {
                .hamburger-menu-sub {
                    overflow: hidden;
                    height: 0px;
                    transition: height 0.3s;
                }
            }
        }

        .hamburger-background {
            opacity: 0;
            animation-name: hamburger-background-hide;
            animation-duration: 0.5s;
        }

        &.show {
            pointer-events: auto;

            .hamburger-side {
                right: 0;
                animation-name: hamburger-side-show;
                animation-duration: 0.5s;
            }

            .hamburger-background {
                opacity: 1;
                animation-name: hamburger-background-show;
                animation-duration: 0.5s;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    header {
        nav {
            display: none;
        }

        .hamburger-button {
            display: flex;
        }

        .hamburger-menu-container {
            display: block;
        }
    }
}

/* .dark-mode body {
    background-color: #091a28;
    color: #fff;
}

.light-mode body {
    background-color: #f3f5f4;
    color: #000;
} */
