@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    nav {
        display: flex;

        .header-menu-sub {
            transition: opacity 0.3s;
        }

        .header-menu:hover {
            .header-menu-sub {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    .hamburger-button {
        display: none;
    }

    // .hamburger-menu-container {
    //     display: flex;
    //     right: -200px;
    //     transition: right 0.5s;
    // }

    // .hamburger-menu-container.show {
    //     right: 0px;
    // }
}

@media screen and (max-width: 700px) {
    header {
        nav {
            display: none;
        }

        .hamburger-button {
            display: flex;
        }
    }
}

/* .dark-mode body {
    background-color: #091a28;
    color: #fff;
}

.light-mode body {
    background-color: #f3f5f4;
    color: #000;
} */
