@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;

    & > a img {
        width: 220px;
    }

    nav {
        display: flex;

        .menu-button {
            display: flex;
            align-items: center;
            position: relative;

            &.menu-button:hover {
                .menu-sub-button {
                    opacity: 1;
                }
            }

            a {
                padding: 0 30px;
                font-weight: bold;
            }

            .menu-sub-button {
                width: 100%;
                text-align: center;
                position: absolute;
                opacity: 1;
                bottom: 0;
                transform: translateY(100%);
                opacity: 0;
                transition: all 0.3s;

                a {
                    display: block;
                    font-size: 0.85rem;
                    line-height: 40px;
                }
            }
        }
    }
}

/* .dark-mode body {
    background-color: #091a28;
    color: #fff;
}

.light-mode body {
    background-color: #f3f5f4;
    color: #000;
} */
